@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

:root {
    --mainColor: #F5F5F5;
    --darkPurle: #2E245E;
    --lightPurple: #6B54DE;
}   


/* --------------------------------- HEADER --------------------------------- */


header {
    padding: 3%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    background-color: var(--mainColor);
}

    header h1 {
        padding: 2%;
    }

    header nav {
        display: flex;
        flex-flow: row-reverse;
        width: 70%;
    }   
        header nav ul {
            list-style: none;
            text-align: center;
            display: none;
            position: relative;
            width: 90%;
        }
            header ul li {
                position: relative;
                padding: 2%;
                display: inline-block;
                color: #828282;
            }


/* ----------------------------------- END ---------------------------------- */



/* ---------------------------------- MAIN ---------------------------------- */


main {
    display: flex;
    flex-flow: column nowrap;
}


/* ---------------------------- SECTION SHOWCASE ---------------------------- */


.showcase {
    height: 25%;
    width: 90%;
    margin: 0% 5%;
}

    .showcase #product {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        margin-bottom: 2%;
        border: 2px solid white;
        padding: 10px;
        background-color: var(--mainColor);
        margin: 1%;
    }
        .showcase #product .productImg {
            display: flex;
            margin: 0;
            align-items: center;
            justify-content: center;
            background-color: var(--mainColor);
        }
            .showcase #product .productImg img {
                height: 100%;
                width: 100%;
            }

        .showcase #product .productType {
            background-color: var(--darkPurle);
            color: white;
            width: min-content;
            padding: 2%;
            margin-top: 3%;
        }

        .showcase #product .productName {
            font-weight: bold;
            font-size: 26px;
            color: #333333;

        }

        .showcase #product .productDescription {
            font-size: 16px;
            color: #828282;
            margin: 0;
        }

        .showcase #product .productPrice {
            color: var(--darkPurle);
            font-weight: bold;
        }

        .showcase #product #CheckoutAddBtn {
            border: none;
            font-size: 18px;
            color: #828282;
            text-decoration: underline;
            padding: 0;
        }
            .showcase #product .productInfoArea {
                background-color: var(--mainColor);
            }

/* ----------------------------------- END ---------------------------------- */



/* -------------------------- SECTION CHECKOUT CART ------------------------- */


.checkoutCart {
    margin: 10% 5%;
}

    .checkoutCart .SearchBar {
        display: flex;
        flex: row nowrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 5%;
    }
        .checkoutCart .SearchBar #searchInput {
            width: 75%;
            padding: 4%;
            border: none;
            background-color: var(--mainColor);
            color: #333333;
            font-size: 16px;
        }

        .checkoutCart .SearchBar #SearchBtn {
            width: 25%;
            border: none;
            padding: 4%;
            border: 1px solid var(--lightPurple);
            background-color: var(--lightPurple);
            color: white;
            font-weight: bold;
        }

    .checkoutCart .checkoutCartList {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background-color: var(--mainColor);
        height: 70%;
    }
        .checkoutCart .checkoutCartHeader {
            width: 100%;
            padding: 3% 0%;
            text-align: center;
            background-color: var(--lightPurple);
            color: white;
        }

        .checkoutCart .checkoutCartList h3 {
            font-weight: bold;
            padding: 25% 25% 0 25%;
            margin: 0;
        }

        .checkoutCart .checkoutCartList h5 {
            margin: 1% 0% 0% 0%;
            font-size: 14px;
            font-weight: 300;
            color: #828282;
        } 


/* ----------------------------------- END ---------------------------------- */



/* --------------------------------- HOVERS --------------------------------- */


.showcase #product:hover {
    border: 2px solid var(--darkPurle);
}

header ul li:hover {
    color: #333333;
    font-weight: bold;
}

.showcase #product #CheckoutAddBtn:hover {
    color: var(--lightPurple);
    font-weight: bold;
}

.checkoutCart .SearchBar #searchInput:focus {
    color: var(--lightPurple);
}

.dropdownMenu:hover .menu {
    display: block;
  }

.dropdownMenu:hover span {
    display: none;
}

/* ----------------------------------- END ---------------------------------- */



/* ------------------------------ MEDIA QUERIES ----------------------------- */


@media only screen and (min-width: 600px) {

    header {
        padding: 0%;
        justify-content: space-between;
    }

        header h1 {
            font-size: 30px;
            margin: 0;
            padding: 0 6%;
        }

        header nav {
            font-size: 16px;
            width: 50%;
        }
           header nav span {
               display: none;
           }

           header nav ul {
               display: block;
               text-align: end;
               margin: 0% 3% 0% 3%;
           }


    main {
        width: 100%;
        flex-flow: row nowrap;
    }


    .showcase {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        margin-right: 0;
        max-height: 100vh;
    }

        .showcase #product {
            display: flex;
            width: 27%;
        }

        .showcase #product .productImg {  
            width: 100%;
        }
            .showcase #product .productImg img {
                height: 100%;
                width: 65%;
            }
                .productImgArea {
                    align-self: center;
                }

        .showcase #product .productInfoArea {
            height: 70%;
        }
            .showcase #product .productInfoArea .productType {
                font-size: 12px;
            }

            .showcase #product .productInfoArea .productName {
                font-size: 14px;
            }

            .showcase #product .productInfoArea .productDescription {
            font-size: 10px;
            }

            .showcase #product .productInfoArea .productPrice {
                font-size: 12px;
            }

            .showcase #product .productInfoArea #CheckoutAddBtn {
                font-size: 10px;
            }
        
                .showcase #product .productInfoArea .productTextArea {
                    margin: 5px;
                }


    .checkoutCart {
        width: 30%;
        margin: 0%;
        padding: 2%;
    }
        .checkoutCart .SearchBar {
            width: 100%;
        }
            .checkoutCart .SearchBar #searchInput {
                width: 70%;
            }
            .checkoutCart .SearchBar #SearchBtn {
                width: 30%;
            }


        .checkoutCart .checkoutCartHeader {
            width: 100%;
            margin: 0;
        }
        
}
  



/* ----------------------------------- END ---------------------------------- */